body{
    background-color: rgb(200, 235, 255);
}
.col{
    background-color: rgb(255, 255, 255);
}
.container{
    margin-top:20px;
    border-radius: 15px;
}
#perfil{
    border-radius: 80%;
}